.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 31px;
    padding: 20px;
    width: 100%;
    max-height: 434px;
    min-height: 100px;
    background-color: rgb(90, 90, 90);
    z-index: 1;
}
.product__image {
    max-height: 20clear0px;
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-bottom: 12px;
    padding: 0;
}
.product__price{
    margin-top: 5px;
}
.product button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px; 
    border-color: #a88734 #9c7e31 #846a29;
    color:black;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__rating{
    display: flex;
}